h3{background-color:rgb(227, 143, 130);}
h4{border: yellow;
    color: #ff6347;}
h5{background-color: hsl(9,100%,64%);}
h6{background-color: #ff6347;}

#tr1{color: darkred;
    background-color: aliceblue; 
    text-align: center;}
#tr2{background-color: darkgray;}
#td1{background-color: darkgray;}
#td2{background-color: darkgray;}
#td3{background-color: darkgray;}
#td4{background-color: darkgray;}

a:link{
    color: #ff6347;
    background-color: aliceblue;
    text-decoration: none;
}
a:visited{
    color: burlywood;
    background-color: bisque;
    text-decoration: none;
}
a:hover{
    color:aquamarine;
    background-color: blanchedalmond;
    text-decoration: underline;
}
a:active{
    color: chartreuse;
    background-color: chocolate;
    text-decoration: underline;
}
