#p1{font-style: italic;}
#s1{border-color: deepskyblue ; 
 padding: 10px;}
 body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    padding: 30px;}

legend{font-size: larger;}
