body{
    background-color:beige;
}
.fieldset{
    background-color:bisque;
    color: black;
    text-align:justify;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color:black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
}
.submit{
    background-color: green;
    padding: 15px;
    cursor: pointer;
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
