        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

        }
        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px 0;
            text-align: center;
        }
        nav {
            display: flex;
            justify-content: center;
            background-color: #333;
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        nav a:hover, nav a:target {
            background-color: #4CAF50;
            color: white;
        }
        section {
            padding: 20px;
            margin: 10px;
            display: none;
        }
        section:target {
            display: block;
        }
        section#home {
            display: block;
        }
        