div{
    width:70%;
    height:70%;
    background-image:linear-gradient(pink,orange,red),url("imgs/rose.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    opacity: 0.75;
}
ul li{
    list-style-type: none;
}
ul li::before{
    content: "";
    display: inline-block;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    background-image:url("imgs/plus.png");
    
}
p.dotted{outline-style: dotted;}