body {
    font-family:'Times New Roman', Times, serif;
    margin: 20;
    padding: 30;
    background-color:darkslategrey;
    color: white;
}
header {
    background-color: #30788f;
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}
section {
    padding: 20px;
    margin: 10px;
}
footer {
    background-color: #b6d8de;
    color: black;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: x-large;
    font-weight: bolder;
}
#h{
    background-color:rgb(179, 228, 173)
}
#i{  font-family:'Times New Roman', Times, serif;
    margin: 20;
    padding: 20;
    color: black;
font-size: x-large;}